absl-py==1.0.0
biopython==1.81
chex==0.1.87
Cython==3.2.9
dm-haiku==0.0.13
dm-tree==0.1.8
flax==0.9.0
immutabledict==4.3.1
ml-collections==0.1.1
ml-dtypes==0.4.0
mock==5.2.0
msgpack==1.2.1
numpy==1.26.4
OpenMM-HIP-6==8.2.0
optax==0.2.4
orbax-checkpoint==0.11.5
pandas==2.3.3
tabulate==0.10.0
tensorflow-cpu==2.18.1
scipy==1.11.4
setuptools<81
