absl-py==1.0.0
biopython==1.81
chex
Cython
dm-haiku
dm-tree
flax==0.9.0
immutabledict
ml-collections
ml-dtypes==0.4.0
mock
msgpack
numpy==1.26.4
OpenMM-HIP-6==8.2.0
optax==0.2.4
orbax-checkpoint==0.11.5
pandas
tabulate 
tensorflow-cpu==2.18.1
scipy==1.11.4
setuptools<81
