# Some names found during development not to be commited
log*build*
build*.log
.*.md
.*.swp
old*
localDisk
.*.def
.*.sh
._*
slurm*.out
borra*
*.old
*.sif
*.NotToPush
*.tar
*.bak
*.tmp
tmp/

# OpenFOAM tools and cases source files and directories
run
platforms
linux64GccDPInt64Opt
wmake
